{% extends 'sample_volumes/main.html' %} {% block content %}
<div class="row">
  <div class="col-md-8">
    <form method="POST" action="" class="form-inline">
      {% csrf_token %}
      <div class="form-group py-2 px-2">
        <label for="districtList" class="sr-only">Select District</label>
        <select class="form-control" id="select_district" name="district">
          <option value="" disabled selected>Select your district</option>
          {% for district in districts %}
          <option value="{{district.id}}">{{district.name}}</option>
          {% endfor %}
        </select>
        <script>
          var selected_district = "{{selected_district.id}}";
          document.addEventListener("DOMContentLoaded", function (event) {
            document.getElementById("select_district").value =
              selected_district;
          });
        </script>
      </div>
      <button type="submit" class="btn btn-sm btn-primary py-2 px-2">
        Search
      </button>
    </form>
  </div>
  <div class="col-md-4">
    <div class="row py-2 px-2">
      <p>
        Route Date:
        <span class="badge badge-pill badge-dark"
          ><script>
            var tomorrow = new Date();
            tomorrow.setDate(tomorrow.getDate() + 1);
            const options = {
              weekday: "long",
              year: "numeric",
              month: "long",
              day: "numeric",
            };
            document.write(tomorrow.toLocaleDateString(undefined, options));
          </script></span
        >
      </p>
      &nbsp;
      <p>
        Route Status:
        <span class="badge badge-{{route_status.badge_color}}">Not Saved</span>
      </p>
    </div>
  </div>
</div>
<hr />

{% if selected_district %}
<div class="row">
  <div class="col-md-8">
    <div class="card card-inverse card-primary" style="height: 500px">
      <div class="card-body">
        <h4 class="card-description">{{district.name}}</h4>
        <div style="height: 400px; overflow-y: scroll; overflow-x: hidden">
          <table class="table table-sm" id="data_table_routes">
            <thead class="thead-light">
              <tr>
                <th scope="col">Visit</th>
                <th scope="col">Facility</th>
                <th scope="col">Visits This Week</th>
                <th scope="col">Previous Visit</th>
                <th scope="col">Days Since Last Visit</th>
                {% for date in date_list %}
                <th scope="col">{{date.date_string}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for facility in facilities %}
              <tr>
                <td>
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="checkbox{{facility.id}}"
                    />
                    <label
                      class="custom-control-label"
                      for="checkbox{{facility.id}}"
                    ></label>
                  </div>
                </td>
                <td>{{facility.name}}</td>
                <td>NA</td>
                <td>NA</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row h-100">
      <div class="col-md-12 h-50 pb-4" style="overflow-y: scroll">
        <table class="table table-bordered table-sm" id="trips_table">
          <thead>
            <th>Facility</th>
            <th>Route</th>
            <th>X</th>
          </thead>
          <tbody>
            <tr>
              <td>Chima</td>
              <td>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </td>
              <td><i class="fas fa-times"></i></td>
            </tr>
            <tr>
              <td>Chima</td>
              <td>
                <div class="form-group">
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </td>
              <td><i class="fas fa-times"></i></td>
            </tr>
            <tr>
              <td>Chima</td>
              <td>
                <div class="form-group">
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </td>
              <td><i class="fas fa-times"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12 h-50">
        <div class="card card-inverse bg-danger h-100"></div>
      </div>
    </div>
  </div>
</div>
{% else %}
<p>Please Select District</p>
{% endif %} {% endblock content%}
